@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits MDLinearProgressBase

<div role="progressbar" class="@ClassMapper.Class" @ref="Ref" @attributes="@Attributes">
    <div class="mdc-linear-progress__buffer">
        <div class="mdc-linear-progress__buffer-bar"></div>
        <div class="mdc-linear-progress__buffer-dots"></div>
    </div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
    </div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
    </div>
    @ChildContent
</div>

@code {
    //https://github.com/material-components/material-components-web/tree/master/packages/mdc-linear-progress
}
