@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits DOMComponent

<div class="@ClassMapper.Class" @ref="Ref" @attributes="@Attributes">
    @ChildContent
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ClassMapper.Add("mdc-card")
            .Variant(() => Variant.GetName());
    }

    [Parameter] public MDCardVariant Variant { get; set; } = MDCardVariant.Default;

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    protected void OnClickHandler(MouseEventArgs ev)
    {
        OnClick.InvokeAsync(ev);
    }
}
