@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits DOMComponent

<div class="@ClassMapper.Class" @ref="Ref" @attributes="@Attributes">
    @Title
    @ChildContent
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ClassMapper.Add("mdc-card__media-content");
    }

    [Parameter] public string Title { get; set; }
}
