@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits DOMComponent

<div class="@ClassMapper.Class">
    @ChildContent
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ClassMapper.Add("mdc-drawer__content");
    }

}
