@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits MDDrawerBase

<aside class="@ClassMapper.Class">
    @ChildContent
</aside>

@if (Variant == MDDrawerVariant.Modal)
{
    <div class="mdc-drawer-scrim"></div>
}

@code {

}
