@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits DOMComponent

<div class="@ClassMapper.Class" id="@Id" @attributes="@Attributes">
    @ChildContent
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ClassMapper.Add("mdc-dialog__content");
    }
}
