@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits MDListGroupBase

<div class="@ClassMapper.Class" @ref="Ref" @attributes="@Attributes">
    <h3 class="mdc-list-group__subheader">@SubHeader</h3>
    @ChildContent
</div>

@code {
}
