@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits DOMComponent

<li role="separator" class="@ClassMapper.Class" @attributes="@Attributes"></li>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ClassMapper.Base("mdc-list-divider");
    }
}
